---
import SearchIcon from '@/icons/searchIcon.astro';
import HomeIcon from '@/icons/homeIcon.astro';
import LibraryIcon from '@/icons/libraryIcon.astro';
import AsideMenuItem from './AsideMenuItem.astro';
import AsideMenuCard from './AsideMenuCard.astro';
import { playlists } from '@/lib/data';
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <AsideMenuItem href="/">
        <HomeIcon className="w-6 h-6" /> Inicio
      </AsideMenuItem>
      <AsideMenuItem href="/#">
        <SearchIcon className="w-6 h-6" /> Buscar
      </AsideMenuItem>
    </ul>
  </div>
  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
      <AsideMenuItem href="/">
        <LibraryIcon className="w-6 h-6" /> Biblioteca
      </AsideMenuItem>

      {
        playlists.map(playlist=><AsideMenuCard playlist={playlist} />)
      }
    </ul>
    
  </div>
</nav>
